NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres:password@localhost:5432/carnesalhambra
JWT_ACCESS_SECRET=generate_with_crypto_randomBytes_64
JWT_REFRESH_SECRET=generate_with_crypto_randomBytes_64_different_value
CLIENT_URL=http://localhost:8081